In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.Series([10,20,30,40,50,60,70])
data

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [4]:
data = pd.Series([10, 20, 30, 40, 50, 60, 128], index = ['a','b','c','d','e','f','g'], dtype = 'int8')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Values are too large to be losslessly cast to int8. In a future version this will raise OverflowError. To retain the old behavior, use pd.Series(values).astype(int8)
  """Entry point for launching an IPython kernel.

In [5]:
data.values

array([  10,   20,   30,   40,   50,   60, -128], dtype=int8)

In [6]:
data.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [7]:
data_series = {
                'Column1' :  pd.Series([100, 200, 300, 400, 500, 600, 700], dtype = 'int16'),
                'Column2' :  pd.Series([10, 20, 30, 40, 50, 60, 70], dtype = 'int16')
              }

In [8]:
data_series

{'Column1': 0    100
 1    200
 2    300
 3    400
 4    500
 5    600
 6    700
 dtype: int16, 'Column2': 0    10
 1    20
 2    30
 3    40
 4    50
 5    60
 6    70
 dtype: int16}

In [9]:
pd.DataFrame(data_series)

   Column1  Column2
0      100       10
1      200       20
2      300       30
3      400       40
4      500       50
5      600       60
6      700       70

In [10]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/boston_train.csv', sep = ',')
display(movies_df)

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]

In [11]:
movies_df.head()

       CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0   2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6

In [12]:
movies_df.tail()

        CRIM   ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
395  0.23912  0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396  0.04560  0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397  1.38799  0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398  7.36711  0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399  0.14150  0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

In [13]:
stock_data = pd.read_excel("https://github.com/ammishra08/MachineLearning/blob/master/Datasets/data_akbilgic.xlsx?raw=true", header=1 )

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [14]:
stock_data

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...,...
531,2011-02-16,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
532,2011-02-17,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,-0.000581,0.001039
533,2011-02-18,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,2011-02-21,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
535,2011-02-22,-0.007246,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297

In [15]:
movies_df.shape

(400, 10)

In [16]:
movies_df.columns

Index(['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX', 'PTRATIO',
       'MEDV'],
      dtype='object')

In [17]:
len(movies_df.columns)

10

In [18]:
print(movies_df.shape[0], movies_df.shape[1])

400 10

In [19]:
data_series = {
                'Column1' :  pd.Series([100, 200, 300, 400, 500, 600], index = ['a','b','c','d','e','f'], dtype = 'int16'),
                'Column2' :  pd.Series([10, 20, 30, 40, 50, 70], index = ['a','b','c','d','e','g'], dtype = 'int16')
              }

In [20]:
df = pd.DataFrame(data_series)

In [21]:
df.isnull()

   Column1  Column2
a    False    False
b    False    False
c    False    False
d    False    False
e    False    False
f    False     True
g     True    False

In [22]:
df.isnull().sum()

Column1    1
Column2    1
dtype: int64

In [23]:
df.notnull()

   Column1  Column2
a     True     True
b     True     True
c     True     True
d     True     True
e     True     True
f     True    False
g    False     True

In [24]:
df[df['Column1'].isnull() == True]

   Column1  Column2
g      NaN     70.0

In [25]:
df[df['Column2'].isnull() == True]

   Column1  Column2
f    600.0      NaN